* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.app-title {
  line-height: 1.5;
  text-align: left;
  color: #7d7c83;
  font-size: 15px;
}

main {
  display: flex;
  min-height: calc(100vh - 56px);
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
  position: relative;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  transition: background 0.3s;
  padding: 10px;
  border-radius: 10px;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col i {
  pointer-events: none
}

.tips {
  position: absolute;
  top: -20px;
  transform: translate(-50%, -50%);
  left: 50%;
}

.refresh {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #000;
  transition: background 0.3s;
  padding: 10px;
  border-radius: 10px;
}

.refresh:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media (max-width: 902px) {
  header {
    flex-direction: column;
  }

  .app-title {
    text-align: center;
  }

  main {
    flex-direction: column;
  }

  .col {
    justify-content: center;
  }
}
