* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  height: 56px;
}

header i {
  pointer-events: none
}

.app-title {
  line-height: 1.5;
  text-align: left;
  color: #7d7c83;
  font-size: 15px;
}

.refresh {
  display: none;
}

.refresh-btn__text {
  display: none;
}

main {
  display: flex;
  min-height: calc(100vh - 56px);
}

.col {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.col h2 {
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  transition: background 0.3s;
  position: relative;
}

.col h2:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col button {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #fff;
  transition: background 0.3s;
  padding: 10px;
  border-radius: 10px;
}

.col button:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.col i {
  pointer-events: none
}

.tips {
  position: absolute;
  top: -20px;
  transform: translate(-50%, -50%);
  left: 50%;
}

.refresh {
  outline: none;
  border: none;
  background: transparent;
  font-size: 1.5rem;
  color: #000;
  margin-top: 10px;
}

@media (max-width: 992px) {
  header {
    flex-direction: column;
    height: 100%;
  }

  main {
    flex-direction: column;
    min-height: calc(100vh - 84px);
  }

  .app-title {
    text-align: center;
  }

  .refresh {
    display: block;
  }

  .refresh-btn__text {
    display: inline;
  }

  .key-btn__text {
    display: none;
  }

  .col {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .col h2 {
    font-size: 14px;
    padding: 8px;
  }
  .col h2:hover {
    padding: 8px;
  }
  .col button {
    font-size: 14px;
  }
  .tips {
    top: -12px;
  }
}

@media (max-width: 378px) {
  main {
    flex-direction: column;
    min-height: calc(100vh - 106.5px);
  }
}